@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.top-bar {
  border: 1px solid green;
}

.nav-accounts {
  border: 1px solid blue;
}