@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1 {
  font-size: 32px;
}

.layout-submenu {
  padding: 2.5rem;
}

.layout-accounts {
  
}

.account-menu {
  display: flex;
  width: 100%;
}

/* ButtonArea */
.account-add {

}

.account-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 0;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.account-scroll > a {
  text-decoration: none;
  color: white;
}

.account-button {
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  min-width: 10rem;
  height: 2.75rem;
  margin: 0 0.625rem;
}

.tab-bar {
  position: fixed;
  bottom: 0;
  height: 3.75rem;
}

.tab-bar-section {
  display: flex;
  gap: 0.75rem;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}
